.single-product {
  height: 28rem;
  width: 19rem;
  gap: 0.6rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.single-product_image {
  height: 16rem;
  width: 100%;
}

.single-product_category {
  color: var(--paragraph-color);
}
