@import "normalize.css/normalize.css";

#root {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* border: 1px solid red; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
