@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --color-black: #151411;
  --text-color: var(--color-black);
  --line-color: #f3f3f3;
  --paragraph-color: #afadb5;
  --placeholder-color: #f9f9f9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul li {
  list-style: none;
}

ul > li {
}

.content-margin-top {
  margin-top: 10rem;
}

h1 {
  font-size: 4rem;
  line-height: 5.2rem;
  margin-bottom: 1.88rem;
  text-align: center;
}

h2 {
  font-size: 2.75rem;
}

p {
  color: var(--paragraph-color);
  font-size: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

.container {
  padding: 0 6.25rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}