.main {
  margin-top: 10rem;
}

.title {
  color: var(--text-color);
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  margin-bottom: 1.88rem;
}

.title-para {
  line-height: 2rem;
  color: var(--paragraph-color);
}

.hero-image {
  margin-top: 5.75rem;
  margin-bottom: 13.56rem;
}

.first-section {
  margin-bottom: 13rem;
}

.first-section > h2 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3.57rem;
  margin-bottom: 3.13rem;
}

.first-section > .inner-first-section > article {
  width: 24.6rem;
  height: 18rem;
  padding: 1.2rem;
  gap: 1.25rem;
  text-align: left;
  background: var(--screen-color, #fff);
  box-shadow: 0px 4px 100px 0px rgba(175, 173, 181, 0.1);
}

.first-section > .inner-first-section > article > h3 {
  font-size: 1.5rem;
}

.first-section > .inner-first-section > article > p {
  color: var(--paragraph-color, #afadb5);
}

.react-icon {
  font-size: 1.875rem;
  margin: 0.5rem;
}

.product-section {
  gap: 1.87rem;
}

.popular-product-div {
  gap: 1.8rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
}
