.product {
    width: 24.625rem;
    gap: 1.625rem;
    cursor: pointer;

}

.product-name {
    font-size: 1.625rem;
    line-height: 2rem;
}

.product-price {
    font-size: 1.5rem;
    line-height: 1.95rem;
}

