.product-detail {
    margin-top: 15rem;
}

.product-detail_section {
    gap: 2rem;
}

.product-detail_section > * {
    flex: 1;
}

.product-detail-info {
    gap: 2rem;
    justify-content: flex-start;
}

.btn-group {
    gap: 2rem;
}