.navbar {
  height: 4rem;
  flex-shrink: 0;
  border-bottom: 2px solid var(--Line-Color, #f3f3f3);
  margin-bottom: 3.7rem;
}

.navbar > nav {
  gap: 5rem;
}

.nav-link {
  color: #222;
  text-align: center;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 186.667% */
  text-transform: capitalize;
  cursor: pointer;
}

.profile-modal {
  display: none;
  position: absolute;
  right: 150px;
  top: 54px;
  z-index: 1;
  opacity: 0;
  transition: display 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.profile-modal.show {
  display: block;
  opacity: 1;
}