/* Default styles for larger screens */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  flex-shrink: 0;
  border-bottom: 2px solid var(--Line-Color, #f3f3f3);
  margin-bottom: 3rem;
}
/* flex-row justify-space_between */
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}

.nav-link {
  color: #222;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.75rem; /* 186.667% */
  text-transform: capitalize;
  cursor: pointer;
}

.profile-modal {
  display: none;
  position: absolute;
  right: 150px;
  top: 54px;
  z-index: 1;
  opacity: 0;
  transition: display 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.profile-modal.show {
  display: block;
  opacity: 1;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-icon {
  font-size: 1.7rem;
  margin-top: 0.4rem;
}

/* Mobile devices (320px - 480px) */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS styles for mobile devices */
  .hamburger-menu {
    display: block;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    /* border-bottom: 1px solid var(--line-color); */
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: #ffffff;
    border-bottom: 2px solid var(--line-color);
  }

  .nav-links.show {
    max-height: 500px; /* Adjust the value as needed */
    opacity: 1;
  }
}

/* iPads, Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS styles for iPads and Tablets */
}

/* Small screens, laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS styles for small screens and laptops */
}

/* Desktops, large screens (1025px - 1200px) */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS styles for desktops and large screens */
}

/* Extra large screens, TV (1201px and more) */
@media screen and (min-width: 1201px) {
  /* CSS styles for extra large screens and TVs */
}
